body {
  font-family: Arial;
  margin: 0;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

header {
  padding: 20px;
  background: black;
}

section {
  padding: 40px;
}

h1 {
  font-size: 40px;
}
